:root {
  --mainbgcolor: #FFF;
  --maintoolcolor: #5F5F5F;
  --toolhoovercolor: #333;
  --coolgreen: #4CAF50;
}

body {
  background-color: var(--mainbgcolor);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--maintoolcolor);
}

li {
  float: left;
  border-right:2px solid var(--mainbgcolor);
  text-align: center;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:  var(--coolgreen);
}

#priantusnamebtn {
  float: right;
}

.cabezal{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--mainbgcolor);
}

.topname {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 26px; 
  font-weight: 40; 
  line-height: 36px; 
  margin-right: 10px;
  color: var(--coolgreen);
}

.rightname{
  float: right;
  font-family: 'Roboto', sans-serif;
  font-style: oblique;
  font-size: 16px; 
  font-weight: 40; 
  line-height: 46px; 
  margin-right: 10px;
  color: black;

}


@media screen and (max-width: 690px) {
  .volatil1{
    display: none;
  }
}

@media screen and (max-width: 590px) {
  .volatil2{
    display: none;
  }
}

@media screen and (max-width: 310px) {
  .volati3{
    display: none;
  }
}